body {
    font-family: Arial, Helvetica, sans-serif;
}

.shopBox {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(56, 114, 223, 0.349);
    border: solid 2px black;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopText {
    cursor: pointer;
}

.shopText p {
    font-size: 3vw;
    color: white;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.item {
    position: relative;
    width: 6%;
    cursor: pointer;
}

.item:hover p{
    display: block !important;
    position: fixed;
    overflow: hidden;
}

.item p {
    display: none;
}

#shopItems {
    display: flex;
    justify-content: space-evenly;
}

#players {
    display: flex;
}

#players div {
    margin-right: 5%;
    cursor: pointer;
}

#currentDmg {
    display: none;
}

.invenItem {
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 1% 0;
}

.invenItem p {
    display: none;
}

.invenItem:hover p{
    display: block !important;
    margin: -0.4% 0 -1%;
}

#itemPrice {
    display: none;
}

.playerCon {
    position: fixed;
    right: 2%;
}